<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{caption}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{message}}
    </p>
    <input [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="changedColor()"/>

    <br>

    <mat-slider
      class="example-margin"
      max="150"
      min="0"
      step="10"
      [thumbLabel]="true"
      [disabled]="false"
      [(ngModel)]="brightness"
      (change)="brightnessChange()">
    </mat-slider>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="on()">ON</button>
    <button mat-raised-button (click)="off()">OFF</button>
    <button mat-raised-button (click)="rainbow()">Rainbow</button>
    <button mat-raised-button (click)="green()">Green</button>
  </mat-card-actions>
</mat-card>




